@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Stylish', sans-serif; 
font-family: 'Sunflower', sans-serif; 
*/

/******** 공통사항 *********/
html, body {font-family: 'Roboto', sans-serif; font-size: 14px; line-height: 0.95;}
.wrapper {max-width: 1200px; margin: auto; position: relative;}
a:link, a:visited, a:active, a:hover {color: inherit; text-decoration: none;}
.w-100 {width: 100%;}
.mw-100 {max-width: 100%;}
.rel {position: relative;}

/******** 전체 *********/
.main-wrapper {width: 100%; height: 100vh; background-color: transparent; position: relative; }
.line-wrap {width: 97%; height: 95%; border: 3px solid #111; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
border-radius: 20px; flex-direction: column; overflow: hidden;}
.line-wrap .navi-box { width: 28em; height: 3.5em; border-radius: 0 0 30px 30px; background-color: rgb(237, 239, 243); position: absolute; top: 0; left: 50%; transform: translate(-50%); }

/******** header *********/
.header-wrap {display: flex; justify-content: space-between; align-items: center; padding: 1.25em 2em;}
/* .header-wrap .logo-wrap {border: 1px solid #ccc; border-radius: 50%; overflow: hidden; margin-top: 1em;}
.header-wrap .logo-wrap img{width: 45px; height: 45px; } */


.header-wrap .navi-wrap {z-index: 999;}
.navi-wrap .navi a {padding: 0 2.5em; text-align: center; align-items: center; font-weight: bold;}

/******** mid-text-wrap *********/
.mid-text-wrap {position: absolute; top: 40%; left: 50%; transform: translate(-50%, -40%); font-size: 1.75em; font-family: 'Sunflower', sans-serif; font-weight: lighter;}

/******** about *********/

/******** sub-navi-wrapper *********/
.sub-navi-wrapper {
width: 300px; height: 300px; border-radius: 50%; border: 2px solid #111; transition: all 0.5s;
position: absolute; bottom: 0; left: calc(50% - 150px); transform: translateY(120%) rotate(0);
transform-origin: center;
}
.sub-navi-wrapper > .sub-navi {position: absolute; top: 0; left: 0; border: 1px solid red;}
.sub-navi-wrapper > .sub-navi > .txt {position: absolute;}

.sub-navi-wrapper > .sub-navi:nth-child(1) {top: 50%; left: 0;}
.sub-navi-wrapper > .sub-navi:nth-child(2) {top: 13.75%; left: 13.75%;}
.sub-navi-wrapper > .sub-navi:nth-child(3) {top: 0; left: 50%;}
.sub-navi-wrapper > .sub-navi:nth-child(4) {top: 13.75%; left: 85.5%;}
.sub-navi-wrapper > .sub-navi:nth-child(5) {top: 50%; left: 100%;}

.sub-navi-wrapper.active { transform: translateY(50%) rotate(0); }




/******** modal *********/
.modal-container{width: 97%; height: 95%; background-color: #111; border-radius: 10px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; display: none;}
.modal-wrap {display: flex; align-items: center; justify-content: center; text-align: center;}
.modal-wrap .modal-btn {position: absolute; top: 13px; right: 20px; background-color: transparent; border: 0; color: #f9f9f9; font-size: 2em; cursor: pointer;}

.contact-wrap {color: #f9f9f9; position: absolute; top: 40%; left: 50%; transform: translate(-50%);}
.contact-wrap div {padding: 1em; letter-spacing: 0.125em;}

/******** 반응형 *********/
@media screen and (max-width:1199px) {

}
@media screen and (max-width:991px) {
	
}
@media screen and (max-width:767px) {
	
}
@media screen and (max-width:575px) {
	.line-wrap .navi-box { width: 22em; height: 3em; }
	.navi-wrap .navi a {padding: 0 1.5em;}
	.mid-text-wrap {line-height: 1.2; text-align: center;}
}