@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Stylish', sans-serif; 
font-family: 'Sunflower', sans-serif; 
font-family: 'Fjalla One', sans-serif;
*/

/******** 공통사항 *********/
html,
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 0.95;
}

/* .wrapper {max-width: 1200px; margin: auto; position: relative;} */
a:link,
a:visited,
a:active,
a:hover {
	color: inherit;
	text-decoration: none;
}

.w-100 {
	width: 100%;
}

.mw-100 {
	max-width: 100%;
}

.rel {
	position: relative;
}

/******** 전체 *********/
.all-wrapper {
	width: 100vw;
	height: 100vh;
	padding: 1.5%;
}

.line-wrapper {
	width: 100%;
	height: 100%;
	border: 3px solid #333;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
}

.line-wrapper .line-head {
	background-color: #333;
	width: 25em;
	height: 3em;
	position: relative;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	border-radius: 0 0 20px 20px;
}

/******** header *********/
.header-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
}

.header-wrapper .logo-wrap {position: absolute; top: 1.5em; left: 2em;}
.header-wrapper .navi-wrap {position: absolute; top: 1em; left: 50%; transform: translate(-50%); color: #888; }
.header-wrapper .navi-wrap .navi > span {padding: 0 1.5em; cursor: pointer;}
.header-wrapper .navi-wrap .navi > span.active {color: #f9f9f9;} 
.header-wrapper .about-wrap {position: absolute; top: 1.5em; right: 2em;}

/******** sub-navi-wrapper *********/
.circle-wrapper {
	width: 300px;
	height: 300px;
	border: 3px solid #333;
	border-radius: 50%;
	position: absolute;
	bottom: -350px;
	left: calc(50% - 150px);
	transition: all .3s;
	transform-origin: center;
}
.circle-wrapper.active {transform: translateY(-150px);}

.sub-navi {
	width: 100px;
	height: 188px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: calc(50% - 50px);
	top: -42px;
	transform-origin: center bottom;
	cursor: pointer;
}

.sub-navi:nth-child(1) {
	transform: rotate(300deg);
}

.sub-navi:nth-child(2) {
	transform: rotate(0deg);
}

.sub-navi:nth-child(3) {
	transform: rotate(60deg);
}

.sub-navi:nth-child(4) {
	transform: rotate(120deg);
}

.sub-navi:nth-child(5) {
	transform: rotate(180deg);
}

.sub-navi:nth-child(6) {
	transform: rotate(240deg);
}
.sub-navi .title {height: 34px;}


/******** .main-wrapper *********/
.main-wrapper {position: relative; font-family: 'Fjalla One', sans-serif; /* border: 1px solid red; */ margin-top: 8em; }
.top-wrap { display: flex; }
.top-wrap .first-line {
	width: 30%; height: 4px; background-color: #111; margin-top: 5em;
	animation: dash 5s linear forwards;
	animation-delay: 1s;
	transform: translateX(-100%);
}
@keyframes dash {
	0% {
			transform: translateX(0%);
	}
	100% {
			transform: translateX(100%);
	}
}
.top-wrap .first-line.active { transform: translateX(0%); }

.top-wrap .battery-wrap {display: flex;}
.top-wrap .battery-wrap .battery-body{border: 3px solid #ccc; border-radius: 5px;}
.top-wrap .battery-wrap .battery-head {width: 1em; height: 5em; background-color: #ccc; border-radius: 0 5px 5px 0 ; margin-top: 2.75em;}
.top-wrap .front {padding: 0.125em 0.2em; margin-top: 8px; font-size: 7.5em; margin-bottom: 0; line-height: 1; }

.bottom-wrap .develop { font-size: 7.5em; padding-top: 0.2em; text-align: center; padding-left: 3.75em; }

.st0 {
	stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards /* alternate infinite */;
	animation-delay: 2s;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/******** charger-wrapper *********/
.charger-wrapper { display: flex; flex-direction: column; justify-content: center; align-items: center; position: absolute; bottom: 0; left: 50%; transform: translate(-50%);}
.charger-wrapper .thunder img {width: 25px; text-align: center; margin-bottom: 2em;}
.charger-wrapper .charger-head { width: 2.75em; height: 2em; border: 2px solid #ccc; border-bottom: 0; border-radius: 5px 5px 0 0;}
.charger-head .metal { width: 28px; height: 11px; background-color: #eaeaea; margin-top: 3px; margin-left: 3px; border-radius: 2px; padding-top: 2px;}
.charger-head .metal > ul { display: flex; align-items: center; justify-content: center;}
.charger-head .metal > ul > li { width: 2px; height: 7px; background-color: rgb(224, 203, 108); border-radius: 2px; margin-right: 2px; }
.charger-head .metal > ul > li:first-child {margin-left: 2px;}
.charger-wrapper .charger-body { width: 3.25em; height: 5em; background-color: #ccc; border-radius: 3px 3px 1px 1px; }
.charger-wrapper .charger-line { width: 0.5em; height: 1.5em; background-color: #ccc; }



/******** modal (about) *********/
.modal-container{width: 100%; height: 100%; background-color: rgba(56, 56, 56, 0.7); color: #f9f9f9; position: fixed; z-index: 9999; transition: all 0.5s; top: 50%; left: 50%; transform: translate(-50%, -200%);}

.modal-container.active {transform: translate(-50%, -50%);}

.modal-wrap {display: flex; align-items: center; justify-content: center; text-align: center;}
.modal-wrap .modal-btn {position: absolute; top: 13px; right: 20px; background-color: transparent; border: 0; color: #f9f9f9; font-size: 2em; cursor: pointer;}

.contact-wrap {text-align: center; flex-direction: column; justify-content: center; align-items: center; margin-top: 7em;}
.contact-wrap .contact { width: 30em; height: 40em; background-color: #f9f9f9; padding: 3em 0; border-radius: 5px; }
.comment-box .box { width: 15em; height: 15em; background-color: #f1e176; display: inline-block; border-radius: 0.5em; color: #111; line-height: 1.2;}

.contact-wrap .info-wrap {color: #111;}
.contact-wrap .info-wrap > div { padding: 1em; letter-spacing: 0.125em;}
.contact-wrap .info-wrap > div:nth-child(1) { padding-top: 3em; }


/******** 반응형 *********/
@media screen and (max-width:1199px) {}

@media screen and (max-width:991px) {}

@media screen and (max-width:767px) {}

@media screen and (max-width:575px) {
	.line-wrapper .line-head {
		width: 20em;
		height: 2.5em;
	}
	.header-wrapper .navi-wrap .navi > span {
		padding: 0 1em;
	}
}